@import "general";

.card {
    display: grid;
    justify-content: center;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    font-family: $cardFont;

    &__front {
        background-color: $light-violet;
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
            0 10px 10px rgba(0, 0, 0, 0.22);

        @media screen and (min-width: 1200px) {
            width: 40vw;
            height: 20vw;
        }

        @media screen and (max-width: 1199px) and (min-width: 1000px) {
            width: 50vw;
            height: 30vw;
        }

        @media screen and (max-width: 999px) {
            width: 60vw;
            height: 40vw;
        }

        position: absolute;
        margin: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 8vw;
        border: 3px solid $dark-violet;
        border-radius: 10px;
        transition: 1s;
        display: grid;
        align-items: center;

        @media screen and (min-width: 801px) {
            grid-template-rows: 60px 40px;
        }

        @media screen and (max-width: 800px) {
            grid-template-rows: 40px 20px;
        }

        align-content: center;

        &__word {
            @media screen and (min-width: 801px) {
                font-size: 40px;
            }

            @media screen and (max-width: 800px) {
                font-size: 25px;
            }
        }

        &__transcription {
            font-size: 18px;
            margin-bottom: 20px;
        }

        &__button {
            border: 2px solid $dark-violet;
            color: $dark-violet;
            font-weight: bold;
            justify-self: center;
            margin-top: 10%;
            width: 38%;
            height: 55%;
            font-family: $cardFont;
            @media screen and (min-width: 801px) {
                font-size: 18px;
            }

            @media screen and (max-width: 800px) {
                font-size: 15px;
            }

            border-radius: 10px;
        }

        &__button:hover {
            background-color: $dark-violet;
            color: $white;
            font-weight: normal;
        }

        &__translate {
            width: 38%;
            height: 55%;
            margin-top: 10%;
            border: none;
            justify-self: center;
            font-family: $cardFont;
            background-color: $light-violet;
            @media screen and (min-width: 801px) {
                font-size: 22px;
            }

            @media screen and (max-width: 800px) {
                font-size: 18px;
            }
        }
    }

    &__buttons-container {
        display: flex;
        align-items: flex-end;
        margin-bottom: 3vw;

        &__buttons {
            font-family: $cardFont;
            transition: 0.2s linear;

            @media screen and (min-width: 1024px) {
                width: 10vw;
                height: 5vw;
                font-size: 18px;
            }

            @media screen and (max-width: 1023px) and (min-width: 801px) {
                width: 15vw;
                height: 10vw;
                font-size: 16px;
            }

            @media screen and (max-width: 800px) and (min-width: 501px) {
                width: 17vw;
                height: 12vw;
                font-size: 14px;
            }

            @media screen and (max-width: 500px) {
                width: 19vw;
                height: 14vw;
                font-size: 14px;
            }

            border-radius: 10px;
            border: none;
            color: $white;
        }

        &__btn1 {
            background-color: $orange;
            margin-right: 10vw;
        }

        &__btn1:hover {
            box-shadow: 0 0 0 2px $white, 0 0 0 4px $orange;
        }

        &__btn2 {
            background-color: $blue;
            margin-right: 10vw;
        }

        &__btn2:hover {
            box-shadow: 0 0 0 2px $white, 0 0 0 4px $blue;
        }

        &__btn3 {
            background-color: $light-blue;
        }

        &__btn3:hover {
            box-shadow: 0 0 0 2px $white, 0 0 0 4px $light-blue;
        }
    }
}
