@import "header";

.error-container {
    height: 50vh;
    display: grid;
    align-items: center;
    font-family: $headerFont;
    justify-content: center;
    img {
        justify-self: center;
    }
}
